/.idea/
/log-usage.txt
/webapp-temp/
/hs_err_*.log
.DS_Store
/src/main/webapp/WEB-INF/source-jsp/
/.bloop/
/.bsp/
/*.iml
/dumpTemp/
/logs/
/config/
/cache/
/tracking.txt
/src-deps/
/.logs/
/target/
developer.properties
/webapp-composite/
developer.hocon
/webapp-exploded/

out


.bloop
.direnv
project/project
project/target
